################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
**/obj
**/bin
**/.vs
/SqlReplicator/packages
/SqlReplicator/NeuroSpeech.SqlReplicator.Service/SqlServerTypes
/SqlReplicator/SqlReplicator/SqlServerTypes
/SqlReplicator/SqlReplicator.Core/SqlServerTypes
/SqlReplicator/SqlReplicator.Test/SqlServerTypes
